p {
    color: black;
  }
  .lobster {
    font-family: Lobster, Monospace;
  }
  
  body {
    background-color: white;
  }
  
  #main-title{
    text-align: center;
  }
  
  #title-background{
    background-color: #dbddb1;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  #body-bg{
    background-color: #f5f7d7;
  }
  
  .button {
    border : 2px;
    border-style: outset;
  }
  