
/* main html */

body {
    /* background-color:white; */
    font-family: 'Abel', Monospace;
    /* color: white; */
    font-size:16px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    

}
.parallax-container {
  height: 250px;
} 
  
/* .ultra-purple {
    
background-color: #663399;
}
     */

#main-title {
    text-align: center;
    color:#663399;
}
/* .collapsible-header {
  line-height: 1.5rem;
  padding: 1rem;
} */
.collapsible {
  margin-left:300px;
}

/* footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem; 
  background-color: #efefef;
  text-align: center;
} */

  main {
    flex: 1 0 auto;
  
  }

  