
/* main html */

body {
    background-color: #663399;
    font-family: 'Abel', Monospace;
    color: white;
    font-size:16px;

}

#ultra-purple {
    
background-color: #663399;
}
    

#main-title {
    text-align: center;
}

